// First we load all the default variables and our own edits of those
@import "variables";

// Column order
@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

// Blockquote
.content blockquote{
  border-left: 0 !important;
  padding:1.5em;
  &:before{
    content: '\201c';
    position: absolute;
    top:0;
    left:0;
    color: $primary;
    font-size: 8em;
    line-height:  0.8em;
  }
  &:after{
    content: '\201d';
    position: absolute;
    bottom:0;
    right:0;
    color: $primary;
    font-size: 8em;
    line-height: 0em;
  }
}

// The Buefy nav-bar has some issues when used with Nuxt and variables
// Sadly enough the easy fix is to overwrite a few variables with !important
html.has-navbar-fixed-top {
  padding-top: 0 !important;
}

$navbar-item-active-background-color: transparent !important;
$navbar-item-hover-background-color: transparent !important;
$navbar-item-hover-color: rgba($white,0.5) !important;
$navbar-item-color: rgba($white,0.5) !important;
$navbar-item-active-color: rgba($white,0.5) !important;

// Custom changes
$body-color: $grey;
$control-height: 2.5em;

// Own versions of animations.css
@import "animations";

// Import front-end framework
// We import bulma here because importing it
// at any other point will not apply our custom vars
@import "../../node_modules/bulma";
@import "../../node_modules/buefy/src/scss/buefy";
