@import "~bulma/sass/utilities/_all";

/**
 * Any overrides and extensions for Bulma variables go in this file
 */

/**
 * Fonts
 */
$family-primary: "Baloo Thambi 2", sans-serif;
$family-secondary: "Baloo Thambi 2", sans-serif;
$family-serif: "Baloo Thambi 2", serif;
$family-sans-serif: $family-primary;
$family-monospace: "Source Code Pro", monospace;
$family-code: "Source Code Pro", monospace;

$body-color: $grey;

$control-height: 2.5em;

/**
 * Colors
 */
$primary: #3FE0D0;

/**
 * Column order
 */
@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

/*.svg-inline--fa,
.fa-1x {
  font-size: 0.85em;
}*/

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

/** Blockquote **/
.content blockquote{
  border-left: 0;
  padding:1.5em;
  &:before{
    content: '\201c';
    position: absolute;
    top:0;
    left:0;
    color: $primary;
    font-size: 8em;
    line-height:  0.8em;
  }
  &:after{
    content: '\201d';
    position: absolute;
    bottom:0;
    right:0;
    color: $primary;
    font-size: 8em;
    line-height: 0em;
  }
}
